* {
    background: rgb(151, 77, 89);
    color: #fff;
    font-family: sans-serif;
}

h1, h2 {
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
}